table {
  border: 2px solid rgb(200, 200, 200);
  border-collapse: collapse;
  border-color: rgb(71, 69, 62);
  box-sizing: border-box;
  letter-spacing: 1px;
}

thead {
  border: 2px solid rgb(200, 200, 200);
  border-color: inherit;
  vertical-align: middle;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
  vertical-align: middle;
}

